#map, #midMap {

    width: 1000px;
    height: 600px;
    margin: 5px;

}

button {

    margin: 5px;
    padding: 3px;

}

p {

    padding: 5px;
    color: #00008b;
    font-family: Arial sans-serif;
    font-size: 18pt;

}
